/***************** General ********************/
body {
    background: #3a3a3a;
}

.container,
.staging-area{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container{
    color: aliceblue;
    height: 100vh;
    max-width: 800px;
}

label {
    text-align: center;
}

footer {
    background: black;
    text-align: center;
}

/************ Staging area styles *************/

.staging-area {
    margin: auto 0;
}

.template{
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.lang {
    font-weight: 600;
    flex-basis: 150px;
    height: 35px;
}

.input {
    font-family: initial;
    flex-basis: 400px;
    width: 100%;
    background-color: #ccc;
    color: #3a3a3a;
    border: white solid 2px;
    padding: 20px;
    border-radius: 4px;
}

.speed{
    text-align: center;
    color: #3a3a3a;
    font-weight: 800;
}

.start {
    font-size: 4em;
}

/****************** Reader styles *******************/

.reading-area {
    display: none;
    margin: auto;
    font-family: initial;
    width: 100%;
    font-size: 7em;
    color : aliceblue;
    text-align: center;
    padding-top: 140px;
    flex-grow: 2;
}

.reset {
    display: none;
    font-size: 4em;
    height: 100px;
    margin: auto 0;
}